<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46474543089-ro6ulkuu4fqc6b4atel5u9lvgo5h81gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46474543089-ro6ulkuu4fqc6b4atel5u9lvgo5h81gq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46474543089-crllcvtrdtba4in2psn12akq32ofvrt4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr8k9Wac4EM6aGPyB4l6FcF9ttGoIfoaU</string>
	<key>GCM_SENDER_ID</key>
	<string>46474543089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.devsquirrel.certopus</string>
	<key>PROJECT_ID</key>
	<string>certopus</string>
	<key>STORAGE_BUCKET</key>
	<string>certopus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46474543089:ios:f93b2d01d319077a9f4e50</string>
	<key>DATABASE_URL</key>
	<string>https://certopus.firebaseio.com</string>
</dict>
</plist>